<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="1.13.0" targetFramework="net461" />
  <package id="Bridge.AWS" version="0.4.2" targetFramework="net461" />
  <package id="Bridge.Bootstrap" version="3.9.1" targetFramework="net461" />
  <package id="Bridge.Core" version="1.13.0" targetFramework="net461" />
  <package id="Bridge.Html5" version="1.13.0" targetFramework="net461" />
  <package id="Bridge.jQuery" version="2.9.0" targetFramework="net461" />
  <package id="Bridge.Min" version="1.13.0" targetFramework="net461" />
  <package id="Bridge.Pages" version="0.0.4" targetFramework="net461" />
  <package id="jQuery" version="1.6.3" targetFramework="net461" />
</packages>